:root{
    --font-family: "Press Start 2P", serif;
    --bg-color:#1F1F1F;
    --text-color:#EAEAEA;
    --correct-number-color: #55AA3E;
    --wrong-number-game: #ba181b;
}
body{
    box-sizing: border-box;
    margin: 0;
    background-color: var(--bg-color);
    font-family: var(--font-family);
    color: var(--text-color);
    text-align: center;
}
button{
    font-family: var(--font-family);
}