:root{
    --font-family: "Press Start 2P", serif;
    --bg-color:#1F1F1F;
    --text-color:#EAEAEA;
    --correct-number-color: #55AA3E;
    --wrong-number-game: #ba181b;
}
body{
    box-sizing: border-box;
    margin: 0;
    background-color: var(--bg-color);
    font-family: var(--font-family);
    color: var(--text-color);
    text-align: center;
}
.container{
    padding: 20px;
}

.top-part{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.again-btn{
   padding: 10px 20px;
   font-size: 1.2rem;
}


button{
    font-family: var(--font-family);
    cursor: grab;
    transition: all 0.2s ease-in-out;
}
button:hover{
    background-color: var(--bg-color);
    color: var(--text-color);
}